/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply border-2 shadow p-4 rounded
          focus:outline-none focus:ring-opacity-50 focus:ring focus:ring-offset-1
          transform transition hover:-translate-y-0.5;
  }
  .menuText {
    @apply text-blue-800 text-3xl border-b block pl-3 font-light py-3
          focus:outline-none focus:ring-opacity-50 focus:ring focus:ring-offset-1
          transform transition hover:-translate-y-0.5 hover:bg-gray-100 hover:text-indigo-800;
  }
  .inputBox{
    @apply border-blue-100 pl-2 bg-gray-50 bg-opacity-30;
  }
  .oneLineInput{
    @apply rounded-sm border-0 border-b-2 pt-1 pb-2;
  }
  .phantom {
    display: block;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
}