/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  @font-face {
    font-family: 'Fogie';
    src: url('/assets/font/Fogie-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  *, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: normal; 
  }
  .btn{
    @apply border-2 shadow p-4 rounded-md
          focus:outline-none focus:ring-opacity-50 focus:ring focus:ring-offset-1
          transform transition hover:-translate-y-0.5;
  }
  .menuText {
    @apply text-blue-800 text-3xl border-b block pl-3 font-light py-3
          focus:outline-none focus:ring-opacity-50 focus:ring focus:ring-offset-1
          transform transition hover:-translate-y-0.5 hover:bg-gray-100 hover:text-indigo-800;
  }
  .inputBox{
    @apply border-blue-100 pl-2 bg-gray-50 bg-opacity-30;
  }
  .oneLineInput{
    @apply rounded-sm border-0 border-b-2 pt-1 pb-2;
  }
  .phantom {
    display: block;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  .nav {

    width: 100%;
    height: 56px;
  }
  .nav .logo {
    height: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    
  }

  #chatBot .input-container {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 7px 10px 0px -1px rgba(204,204,255,0.75);
  }

  #chatBot .input-container > input {
    border: none;
    vertical-align: middle;
    padding-left: 30px;
    color: #333;
    font-weight: 500;
    font-size: 1rem;
  }
  input[type="text"]:focus {
    border: none;
    box-shadow: none !important;
  }

  .message-wrapper {
    position: relative;
    min-height: 80px;
    height: 100%;
    padding: 20px
  }

  .message-wrapper::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 0;
    height: 0;
    border-top: 22px solid #000;
    border-bottom: 22px solid #000;
    border-left: 10px solid #000sa;
    z-index: 1;

  }
}